/* Custom CSS */

/* Footer */
#footer {
-webkit-box-shadow: 0px -5px 10px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px -5px 10px 0px rgba(0,0,0,0.3);
box-shadow: 0px -5px 10px 0px rgba(0,0,0,0.3);
border-color: transparent;
}

#footer {
  background: #54595f;
  color: #fff;
  font-size: 0.8em;
  padding-top: 50px;
}
#footer .container .row,
#footer .row {
  margin-bottom: 0;
}
#footer .container .row .widget,
#footer .row .widget {
  margin: 0;
}
#footer .container .row .widget .widgettitle,
#footer .row .widget .widgettitle {
  font-size: 1.4em;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 0;
  text-transform: inherit;
}
#footer .container .row .social-menu,
#footer .row .social-menu {
  margin-left: 0 !important;
}
#footer .container .row .social-menu ul .menu-item,
#footer .row .social-menu ul .menu-item {
  display: inline-block;
  margin-right: 10px;
}
#footer .container .row .social-menu .selo-gptw-wrap,
#footer .row .social-menu .selo-gptw-wrap {
  margin: 30px 0;
  display: flex;
  justify-content: flex-start;
}
#footer .container .row .social-menu .selo-gptw-wrap .selo-text-gptw,
#footer .row .social-menu .selo-gptw-wrap .selo-text-gptw {
  position: relative;
  width: 200px;
  margin-left: 20px;
}
#footer .container .row .social-menu .selo-gptw-wrap .selo-text-gptw h4,
#footer .row .social-menu .selo-gptw-wrap .selo-text-gptw h4 {
  color: #fff;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  top: -12px;
}
#footer .container .row .social-menu .selo-gptw-wrap .selo-text-gptw h5,
#footer .row .social-menu .selo-gptw-wrap .selo-text-gptw h5 {
  color: #fff;
  line-height: 1.5;
  position: relative;
  top: -12px;
}
#footer .container .row .social-menu .selo-gptw-wrap img,
#footer .row .social-menu .selo-gptw-wrap img {
  width: 80px;
}

@media all and (min-width: 769px) {
  .show-less-768 {
    display: none;
  }
  #footer .widget {
    overflow: visible;
  }
}

@media all and (max-width: 768px) {
  #footer .container .social-menu .widget,
  #footer .social-menu .widget {
    border-top: 1px solid #fff;
    margin-top: 15px;
    padding-top: 28px;
  }
  #footer .container .flex_column,
  #footer .flex_column {
    display: block;
    float: none;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
  }
  #footer .container .flex_column.toggle-footer,
  #footer .flex_column.toggle-footer {
    border-top: 1px solid #fff;
    margin-top: 15px !important;
    padding-top: 15px !important;
  }
  #footer
    .container
    .flex_column.toggle-footer.active
    .widget
    .widgettitle:before,
  #footer
  
    .flex_column.toggle-footer.active
    .widget
    .widgettitle:before {
    transform: rotate(90deg);
  }
  #footer .container .flex_column.toggle-footer.active .widget > div,
  #footer .flex_column.toggle-footer.active .widget > div {
    max-height: 500px;
  }
  #footer .container .flex_column .widget,
  #footer .flex_column .widget {
    margin: 0;
  }
  #footer .container .flex_column .widget .widgettitle,
  #footer .flex_column .widget .widgettitle {
    margin-top: 13px;
    margin-bottom: 5px;
    position: relative;
  }
  #footer .container .flex_column .widget .widgettitle:before,
  #footer .flex_column .widget .widgettitle:before {
    content: "  ";
    font-family: "entypo-fontello";
    font-size: 30px;
    font-weight: 400;
    height: 30px;
    line-height: 30px;
    margin-top: -20px;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    color: #fff;
    top: 50%;
    transition: transform 0.3s ease-in-out;
    width: 18px;
    z-index: 3;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  #footer .container .flex_column .widget > div,
  #footer .flex_column .widget > div {
    max-height: 0px;
    transition: max-height 0.3s ease-in-out;
  }
  #footer .container .flex_column .widget > div ul,
  #footer .flex_column .widget > div ul {
    padding-top: 15px;
  }
  #footer .container .flex_column .avia-image-container-inner,
  #footer .flex_column .avia-image-container-inner {
    margin: 0;
  }
}





/* Geral */
.logo {
  align-items: center!important;
  display: flex!important;
  flex-direction: row!important;
  flex-wrap: wrap!important;
  justify-content: center!important;
  }
  #header_main {
    border-bottom: solid 2px #d35400!important;
    /* margin-bottom: -3px; */
  }
  .av-main-nav-wrap span {
    font-size: 16px;
  }
  .av-main-nav-wrap span.menu-active {
    color:#d35400!important;
  }
  #scroll-top-link {
    background-color: #d35400!important;
    border-color: #d35400!important;
  }
  #scroll-top-link:hover {
    background-color: #444444!important;
    border-color: #444444!important;
  }
  .av-image-hotspot_inner {
    background-color: #d35400!important;
  }
  .widgettitle {
    color: #fff!important;
  }

  .av-special-heading-tag {
    color: #d35400;
  }
  
  #menu-footer-column-1 li a {
    color: #fff!important;
  }
  #menu-footer-column-1 li a:hover {
    color: #d35400!important;
  }
  #menu-footer-column-2 li a {
    color: #fff!important;
  }
  #menu-footer-column-2 li a:hover {
    color: #d35400!important;
  }
  .services-list {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 120px;
  }

  @media (min-width: 500px) and (max-width: 900px) {
    .av_textblock_section  {
      text-align: center!important;
    }
    .alignleft {
      width: 60%!important;
      display: initial!important;
      float: none!important;
    }
    .slide-entry-excerpt {
      text-align: center!important;
    }
  }
  
  @media (max-width: 900px) {
#header_main {
      position: fixed!important;
      left: 0;
      right: 0;
      background-color: #54595F!important;
      border-bottom: solid 2px #d35400!important;
    }


    #slider-categorias {
      margin-top: -0px!important;
      margin-left: -0px!important;
      padding-bottom: 0px!important;
  }
  
    .services-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
  }
  @media (max-width: 600px) {
  
    .services-list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 20px;
    }
    
  }
  
  .elementor-column-wrap {
    margin-bottom: 40px;
    text-align: center; 
    background-color: #fdfdfd; 
    box-shadow: 0px 0px 10px 3px #CECECE;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s; 
    min-height: 350px;
    margin: 0px 10px 0px 10px;
    padding: 0px 30px 50px 30px;
    border-radius: 10px;
  }
  
  .elementor-column-wrap:hover {
    background-color: #fdfdfd; 
    box-shadow: 0px 0px 10px 3px rgba(68, 68, 68, 0.4);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s; 
  }
  
  .elementor-heading-title {
    color: #444!important;
  }
  .elementor-text-editor {
    color: #ccc!important;
  }
  
  .elementor-image  img{
    margin-top: -64px;
  border-style: solid;
  border-width: 6px;
  border-color: rgba(255, 255, 255, 0.58);
  border-radius: 50%;
  box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.5);
  }
  
  .elementor-widget-container {
    padding: 15px 0px;
  }
  
  @media (min-width: 320px) and (max-width: 480px) {
    .services-list {
        flex-direction: column;
    }
    .services-2 {
        margin-top: 0;
    }
  
    .elementor-column-wrap {
        margin-bottom: 100px;
    }
    .whatsapp span {
       display: none;
    }
  
    .whatsapp { 
        width: 40px!important; 
        height: 40px!important;
        border-radius: 50%!important;
        display: flex; 
        justify-content: center; 
        align-items: center;
    }
  
    .social_bookmarks_whatsapp a::before, .av-social-link-whatsapp a::before {
  
        margin-right: 0px!important;
  
    }
  }
  .whatsapp {
    text-decoration: none;
    background-color:#25D366;
    border-radius: 25px;
    position: fixed;
    bottom: 2%;
    right: 2%;
    padding: 10px;
    z-index: 10000000;
  }
  .whatsapp a {
    text-decoration: none;
    color: #fff!important;
  }
  .whatsapp a:hover {
    text-decoration: none;
    color: #d35400!important;
  }
  #scroll-top-link{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 80%;
    border-radius: 50%!important;
    font-size: 28px;
  }
  .social_bookmarks_whatsapp a::before, .av-social-link-whatsapp a::before {
    font-family: 'entypo-fontello';
    content:"\e854";
    font-size: 16px;
    margin-right: 10px;
    }
    .socket_color {
        background-color: #404449!important;
    }
    .av_section_functions {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px 10px; 
    }
  
    .av_section_functions div h2 {
        color: #d35400; margin: 40px 0;
    }
  
    .av_section_functions p {
        color: #95a5a6;
    }
  
    .av_section_functions-reverse {
        display: flex;
        padding: 50px 10px; 
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
    }
    
    .av_section_functions-reverse div h2 {
        color: #d35400; margin: 40px 0;
        flex-direction: row-reverse;
    }
  
    .av_section_functions-reverse p {
      font-size: 16PX;
        color: #95a5a6;
    }


    .av-special-heading-tag {
      color: #d35400!important;
    }
  
    .description {
        width: 90%; padding-right: 50px;
    }
    .description h2{
      font-size: 28px;
      }
    .description p{
      font-size: 16px;
        color: #95a5a6;
    }
  
    .description-reverse {
        width: 90%; padding-left: 50px;
    }

    @media(max-width: 600px) {
      .section-custom {
        padding-top: 0!important;
      }
      .av_section_functions {
        padding-top: 0!important;
      }
      .hr-custom {
        margin: 20px 0!important;
      }
    }
  
  
    @media (min-width: 320px) and (max-width: 967px) {
        .description {
            width: 100%;
            padding-right: 0;
        }
        .description-reverse {
            width: 100%;
            padding-left: 0;
        }
  
        .av_section_functions {
            flex-direction: column;
            padding-bottom: 0;
        }
        .av_section_functions-reverse {
            flex-direction: column;
            padding-bottom: 0;
        }
        .title-custom {
          text-align: left;
          font-size: 24px;
        }
  
    }

    @media (min-width: 320px) and (max-width: 480px) {
        .whatsapp {
            bottom: 3vh;
            right: 3vh;
        }
        .responsive #top #wrap_all .container-wrapper {
            width: 100%!important;
            max-width: 100%!important;
            margin: 0 auto;
        }
  
        .av-rotator-container-inner  {
            font-size: 24px!important;
        }

        
    }

    .avia-section .template-page .entry-content-wrapper {
      padding-right: 0;
      padding-top: 50px;
  }


/* Bootstrap */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0;
}
@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
}

